<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="centre">
  <h1>
    My Library
  </h1>

  <div>
    <form (ngSubmit)=library(f) #f="ngForm">
        &nbsp;&nbsp;&nbsp;Title<input type="text" [(ngModel)]="title" name="title">&nbsp;&nbsp;&nbsp;
      Author<input type="text" [(ngModel)]="author" name="author">&nbsp;&nbsp;&nbsp;
  <button class="button1" type="submit">ADD</button>&nbsp;&nbsp;&nbsp;
</form>
  </div>
  <br>
  <br>
  <table align=center style="text-align: center" border="4">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Delete</th>
    </tr>
   <tr *ngFor="let list of books let i = index">
     <td>{{list.title}}</td>
     <td>{{list. author}}</td>
     <td><button class="button2" (click)="delete(i)">Delete</button></td>
   </tr>
  </table>
  <br>
  <br>
  <br>
</div>
</div>

<router-outlet></router-outlet>
